<div mat-dialog-title>
  <h1>Hero Form</h1>
  <img class="image" src='../../../assets/images/loading_img.jpg'>
</div>
<form [formGroup]="heroForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Superhero name</mat-label>
              <input matInput type="text" placeholder="Ex. Ironman" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Real Name</mat-label>
              <input matInput placeholder="Ex. Tonny Stark" formControlName="real_name">
          </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>

      <div class="row">
          <mat-radio-group aria-label="Select an option" formControlName="type">
              <mat-label><b>Type</b></mat-label>
              <mat-radio-button value="Hero">Hero</mat-radio-button>
              <mat-radio-button value="Villian">Villian</mat-radio-button>
              <mat-radio-button value="others">Others</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Publisher</mat-label>
              <mat-select formControlName="publisher">
                  <mat-option *ngFor="let val of publisher" [value]="val">{{val}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Company</mat-label>
              <input matInput placeholder="Ex. Google" formControlName="company">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Story</mat-label>
              <textarea matInput placeholder="Ex. I am Ironman" type="text" formControlName="story"></textarea>
          </mat-form-field>
      </div>
  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>